<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">


<hibernate-configuration>

	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hospital_db</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<property name="show_sql">true</property>
		<property name="connection.pool_size">10</property>

		<property name="hbm2ddl.auto">update</property>

		<mapping class="org.jagjeet.pas.model.Patient" />
		<mapping class="org.jagjeet.pas.model.Doctor" />
		<mapping class="org.jagjeet.pas.model.Appointment" />

	</session-factory>

</hibernate-configuration>